tosca_definitions_version: tosca_2_0

description:

  An Online Boutique service for Kubernetes.

  The service comprises many interconnected microservices.

imports:

- url: profiles/applications/online-boutique.yaml
  namespace: boutique

service_template:

  inputs:
    kubernetes:
      type: boutique:ms:krm:KubernetesClient
      required: false

  outputs:
    frontend:
      value:
        $boutique:ms:krm:get_kubernetes:
        - { $get_input: [ kubernetes ] }
        - kind: deployment
          name: frontendservice1
          namespace: boutique

  node_templates:

    frontend1:
      type: boutique:FrontendService
      properties:
        label: frontendservice1

    frontend2:
      type: boutique:FrontendService
      properties:
        label: frontendservice2

    checkout:
      type: boutique:CheckoutService
      requirements:
      - shipping: shipping1
      - shipping: shipping2

    shipping1:
      type: boutique:ShippingService
      properties:
        label: shippingservice1

    shipping2:
      type: boutique:ShippingService
      properties:
        label: shippingservice2
